---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/BlogComponents/NavBarBlog.astro";
import Footer from "../components/Footer.astro";
import CardPost from "../components/BlogComponents/CardPost.astro";
import Redes from "../components/RedesSociales.astro";
// const exampleImg = "../../public/images/examplePost.svg";
const exampleImg2 = "../../public/images/examplePost2.svg";
---

<Layout title="My Blog">
  <NavBar />
  <div class="bg-gradient-to-b from-black to-[#939292] w-screen h-7 mb-2"></div>
  <div class="flex items-center justify-center">
    <div class="mx-auto mb-3">
      <h1 class="font-bold text-5xl">MI BLOG</h1>
      <div class="bg-[#000000] h-2 rounded-full drop-shadow-xl blur-md"></div>
    </div>
  </div>
  <div class="w-72 mb-10 sm:w-2/3 m-auto">
    <div class="flex flex-wrap gap-4 justify-center">
      <CardPost
        hrefIMG={exampleImg2}
        title="Mi primer post"
        body="Este es el body de mi primer post Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate et minus distinctio libero, nostrum nemo voluptatibus commodi dicta quam placeat sunt, numquam omnis eos obcaecati asperiores exercitationem facilis, iusto quod. "
        dateTime="03/10/2024"
      />
      <CardPost
        hrefIMG={exampleImg2}
        title="Mi primer post"
        body="Este es el body de mi primer post Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate et minus distinctio libero, nostrum nemo voluptatibus commodi dicta quam placeat sunt, numquam omnis eos obcaecati asperiores exercitationem facilis, iusto quod."
        dateTime="03/10/2024"
      />
      <CardPost
        hrefIMG={exampleImg2}
        title="Mi primer post"
        body="Este es el body de mi primer post Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate et minus distinctio libero, nostrum nemo voluptatibus commodi dicta quam placeat sunt, numquam omnis eos obcaecati asperiores exercitationem facilis, iusto quod."
        dateTime="03/10/2024"
      />
      <CardPost
        hrefIMG={exampleImg2}
        title="Mi primer post"
        body="Este es el body de mi primer post Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate et minus distinctio libero, nostrum nemo voluptatibus commodi dicta quam placeat sunt, numquam omnis eos obcaecati asperiores exercitationem facilis, iusto quod."
        dateTime="03/10/2024"
      />
      <CardPost
        hrefIMG={exampleImg2}
        title="Mi primer post"
        body="Este es el body de mi primer post Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate et minus distinctio libero, nostrum nemo voluptatibus commodi dicta quam placeat sunt, numquam omnis eos obcaecati asperiores exercitationem facilis, iusto quod."
        dateTime="03/10/2024"
      />
      <CardPost
        hrefIMG={exampleImg2}
        title="Mi primer post"
        body="Este es el body de mi primer post Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate et minus distinctio libero, nostrum nemo voluptatibus commodi dicta quam placeat sunt, numquam omnis eos obcaecati asperiores exercitationem facilis, iusto quod."
        dateTime="03/10/2024"
      />
      <CardPost
        hrefIMG={exampleImg2}
        title="Mi primer post"
        body="Este es el body de mi primer post Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate et minus distinctio libero, nostrum nemo voluptatibus commodi dicta quam placeat sunt, numquam omnis eos obcaecati asperiores exercitationem facilis, iusto quod."
        dateTime="03/10/2024"
      />
      <CardPost
        hrefIMG={exampleImg2}
        title="Mi primer post"
        body="Este es el body de mi primer post Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate et minus distinctio libero, nostrum nemo voluptatibus commodi dicta quam placeat sunt, numquam omnis eos obcaecati asperiores exercitationem facilis, iusto quod."
        dateTime="03/10/2024"
      />
      <CardPost
        hrefIMG={exampleImg2}
        title="Mi primer post"
        body="Este es el body de mi primer postLorem ipsum dolor sit amet consectetur adipisicing elit.  Voluptate et minus distinctio libero, nostrum nemo voluptatibus commodi dicta quam placeat sunt, numquam omnis eos obcaecati asperiores exercitationem facilis, iusto quod."
        dateTime="03/10/2024"
      />
      <CardPost
        hrefIMG={exampleImg2}
        title="Mi primer post"
        body="Este es el body de mi primer post Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate et minus distinctio libero, nostrum nemo voluptatibus commodi dicta quam placeat sunt, numquam omnis eos obcaecati asperiores exercitationem facilis, iusto quod."
        dateTime="03/10/2024"
      />
      <CardPost
        hrefIMG={exampleImg2}
        title="Mi primer post"
        body="Este es el body de mi primer post Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate et minus distinctio libero, nostrum nemo voluptatibus commodi dicta quam placeat sunt, numquam omnis eos obcaecati asperiores exercitationem facilis, iusto quod."
        dateTime="03/10/2024"
      />
    </div>
  </div>
  <Redes />
  <footer class="absolute mt-6">
    <Footer />
  </footer>
</Layout>
