---
import instagram from "../../public/images/instagram.svg";
import youtube from "../../public/images/youtube.svg";
import facebook from "../../public/images/facebook.svg";
import tiktok from "../../public/images/tiktok.svg";
import whatsapp from "../../public/images/whatsapp.svg";
---

<div
  class="md:hidden fixed z-30 h-48 w-12 bg-redes right-0 top-48 rounded-l-full"
>
  <div class="flex flex-col gap-1 ml-4 mr-1 mt-5">
    <img class="hover:bg-nav rounded-lg" src={instagram.src} alt="" />
    <img class="hover:bg-nav rounded-lg" src={youtube.src} alt="" />
    <img class="hover:bg-nav rounded-lg" src={facebook.src} alt="" />
    <img class="hover:bg-nav rounded-lg" src={tiktok.src} alt="" />
    <img class="hover:bg-nav rounded-lg" src={whatsapp.src} alt="" />
  </div>
</div>
